/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

/* Header Styles */
header {
    display: flex;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('MeatAREgyptian-Restaurants19022020-1024x640.jpg') no-repeat center center/cover;
    color: #fff;
}

/* Nav Styles */
#nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #000000cc;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

#nav-menu ul {
    list-style: none;
    padding-left: 10px;
    padding-top: 70px;
}

#nav-menu ul li {
    margin: 15px 0px;
}

#nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

#nav-menu ul li a:hover {
    color: #f4b400;
}

#toggle-nav {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    background-color: #000000cc;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#nav-menu.show {
    transform: translateX(0);
}

.menu .submenu {
    display: none;
    position: fixed; 
    background-color: #000000e1;
    padding: 10px;
    list-style: none;
    justify-content:space-around ;
    
}

.menu li:hover .submenu {
    display: block;
}

/* Header Content */
.header-content {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.header-content h1 #s{
    color: #f4b400;
    display: inline;
}

.header-content h1 #t{
    color: #f4b400;
    display: inline;
}

.header-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 500px;
}

.header-content .btn {
    background: #f4b400;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background 0.3s;
}

.header-content .btn:hover {
    background: #d99400;
}



/* Main Section */
/* main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

section p {
    font-size: 1rem;
} */

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #000000cc;
    color: #fff;
}

footer .work-time {
text-align: left;
}



@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        width: 100%;
        height: auto;
    }

    .header-content {
        align-items: center;
        text-align: center;
    }
}
